@using System.Web.Optimization
@using PagedList
@using PagedList.Mvc

@model PagedList<Biletix.UI.Areas.Admin.Models.ModelAltKategori>

@{
    List<Biletix.UI.Areas.Admin.Models.ModelKategori> KategoriListesi = ViewData["Kategoriler"] as List<Biletix.UI.Areas.Admin.Models.ModelKategori>;
}

@{
    ViewBag.Title = "Admin-Alt Kategoriler";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutUIAdmin.cshtml";
}
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Alt Kategoriler Listesi
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">

                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"><div id="dataTables-example_filter" class="dataTables_filter" style="float:right"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example"></label></div></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 172px;">Alt Kategori Adı</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 149px;">KategoriId</th>

                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 149px;">Güncelle</th>

                                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 149px;">Sil</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr id="@item.AltKategoriId" class="gradeA odd" role="row"><td class="sorting_1">@item.AltKategoriAdi</td><td class="sorting_1">@item.Kategori.KategoriAdi</td><td class="sorting_1"><a href="#" altkategorigid="@item.AltKategoriId" id="Guncelle" onclick="Duzenle(this)">Güncelle</a></td> <td class="sorting_1"><a href="#" altkategorisid="@item.AltKategoriId" onclick="sil(this)">Sil</a></td></tr>
                                        }


                                        @*<tr class="gradeA odd" role="row">
                                                <td class="sorting_1">Gecko</td>
                                                <td class="sorting_1">Gecko</td>


                                            </tr>*@
                                    </tbody>
                                </table>
                            </div>
                        </div><div class="row">

                            <div class="col-sm-6">

                            </div>

                            <div class="col-sm-6">
                                <div style="float:right">
                                    @Html.PagedListPager(Model, _sayfaNo => Url.Action("Index", "AltKategoriAdmin", new { SayfaNo = _sayfaNo }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< İlk", LinkToPreviousPageFormat = "< Önceki", LinkToNextPageFormat = "Sonraki >", LinkToLastPageFormat = "Son >>" })
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Alt Kategori Düzenleme
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label>Kategorisi</label>
                                @*<input class="form-control" type="text" id="KategoriId" value="" />*@
                                <select class="form-control" id="kategoriler">
                                    @foreach (var item in KategoriListesi)
                                    {
                                        <option id="@item.KategoriId" value="@item.KategoriAdi">@item.KategoriAdi</option>

                                    }

                                </select>
                                <br />
                                <label>Alt Kategori Adı</label>
                                <input class="form-control" type="text" id="AltKategoriAdi" value=""><br />
                                <p class="help-block" id="AltKategoriValide" style="color:red"></p>
                            </div>

                            <button type="button" class="btn btn-default" onclick="KaydetOrGuncelle(this)" id="KaydetOrGuncelleBtn">Kaydet</button>
                            <button type="reset" class="btn btn-default" onclick="iptal(this)">İptal</button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

@Scripts.Render("~/ali")

@*<script src="~/Areas/Admin/Content/bower_components/jquery/dist/jquery.min.js"></script>*@


<script>

    function iptal(gelen) {
        var kaydetBtn = document.getElementById("KaydetOrGuncelleBtn").innerText= "Kaydet"
        var altKategoriAdi = document.getElementById("AltKategoriAdi").value ="";

    }

    function sil(gelen) {

        var silinecekID = gelen.attributes["altKategoriSID"].value;

        $.ajax({

            url: '@Url.Action("AltKategoriSil","AltKategoriAdmin")',
            type: 'GET',
            data: {
                ID: silinecekID
            },

            success: function () {
                var silinecekSatir = document.getElementById(silinecekID);

                silinecekSatir.remove();
            },

            error: function () {
                alert("Hata")
            }

        })

    }

    var guncellenecekSatir;
    var guncellenecekAltKategoriAdi;
    var guncellenecekKategoriID;

    function Duzenle(gelen) {

        var guncellenecekID = gelen.attributes["altKategoriGID"].value;
        var altKategoriAdi = document.getElementById("AltKategoriAdi");
        var kategorilerSelect = document.getElementById("kategoriler");

        guncellenecekSatir = document.getElementById(guncellenecekID);

        var secilenSatirinKategoriAdi = guncellenecekSatir.cells[1].innerText;

        kategorilerSelect.value = secilenSatirinKategoriAdi;

        var kaydetToGuncelleButon = document.getElementById("KaydetOrGuncelleBtn");

        $.ajax({

            url: '@Url.Action("AltKategoriDuzenle","AltKategoriAdmin")',
            type: 'GET',
            data: {
                ID: guncellenecekID
            },

            success: function (data) {

                altKategoriAdi.value = data.AltKategoriAdi;

                altKategoriAdi.attributes["altkategoriid"] = data.AltKategoriId;
                kaydetToGuncelleButon.innerText = "Güncelle";

                guncellenecekAltKategoriAdi = data.AltKategoriAdi;
            },

            error: function () {
                alert("Hata")
            }
        })

    }


    function KaydetOrGuncelle(gelen) {

        var btn = document.getElementById("Kaydet");
        var secilenKategori = document.getElementById("kategoriler");
        var kategoriAdi = secilenKategori[secilenKategori.selectedIndex].value;
        var kategoriId = secilenKategori[secilenKategori.selectedIndex].id;
        var altKategoriAdi = document.getElementById("AltKategoriAdi");
        var AltKategoriAdValide = document.getElementById("AltKategoriValide");

        if (altKategoriAdi.value == "") {
            AltKategoriAdValide.innerText = "Alt Kategori Adı Boş Geçilemez!"
        }
        else {

            AltKategoriAdValide.innerText = ""


            if (gelen.innerText == "Kaydet") {

                $.ajax({

                    url: '@Url.Action("KaydetOrGuncelle", "AltKategoriAdmin")',
                    type: 'GET',
                    data: {
                        AltKategoriAdi: altKategoriAdi.value,
                        KategoriId: kategoriId
                    },
                    success: function (data) {
                        var AltKategoriler = document.getElementById("dataTables-example");

                        var htmlSatirlar = ' <tr id="' + data.ID + '" class="gradeA odd" role="row"><td class="sorting_1">' + altKategoriAdi.value + '</td><td class="sorting_1">' + kategoriAdi + '</td><td class="sorting_1"><a href="#" altKategoriGID="' + data.ID + '" id="Guncelle" onclick="Duzenle(this)">Güncelle</a></td> <td class="sorting_1"><a href="#" altKategoriSID="' + data.ID + '" onclick="sil(this)" >Sil</a></td></tr>'

                        AltKategoriler.innerHTML += htmlSatirlar;

                        altKategoriAdi.value = "";


                    },
                    error: function () {
                        alert("Hata")
                    }


                });
            }

            else {

                var altKategoriAd = document.getElementById("AltKategoriAdi");

                $.ajax({

                    url: '@Url.Action("KaydetOrGuncelle", "AltKategoriAdmin")',
                    type: 'GET',
                    data: {
                        KategoriId: kategoriId,
                        AltKategoriId: guncellenecekSatir.id,
                        AltKategoriAdi: altKategoriAdi.value,

                    },

                    success: function () {
                        guncellenecekSatir.cells[0].innerText = AltKategoriAdi.value
                        guncellenecekSatir.cells[1].innerText = kategoriAdi;
                        AltKategoriAdi.value = "";

                        gelen.innerText = "Kaydet"
                    },

                    error: function () {
                        alert("Hata")
                    }

                })
            }
        }

    }




</script>
